body {background-color: rgb(79, 164, 233);}

.header {
    align-content: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.favorites {
    align-content: left;
    font-family: 'Arial', sans-serif;
    text-align: left;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.top-nav {
    background-color: rgb(231, 96, 213);
    text-align:center;
    font-size: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
}